*.lo
*.o
.deps/
.libs/
po/*.gmo
po/messages.mo
/aclocal.m4
/autom4te.cache
/config.h.in
/config.h
/config.log
/config.status
/configure
/libtool
/stamp-h1
/Makefile.in
/VERSION
cipher/Makefile.in
cipher/gost-s-box
cipher/gost-sb.h
compat/Makefile.in
doc/Makefile.in
m4/Makefile.in
mpi/Makefile.in
random/Makefile.in
src/Makefile.in
tests/Makefile.in
/Makefile
m4/Makefile
cipher/Makefile
cipher/libcipher.la
compat/Makefile
compat/libcompat.la
doc/gcrypt.info
doc/gcrypt.info-1
doc/gcrypt.info-2
doc/stamp-vti
doc/version.texi
doc/Makefile
doc/fips-fsm.eps
doc/fips-fsm.pdf
doc/fips-fsm.png
doc/hmac256.1
doc/libgcrypt-modules.eps
doc/libgcrypt-modules.pdf
doc/libgcrypt-modules.png
doc/yat2m
doc/yat2m-stamp
mpi/Makefile
mpi/asm-syntax.h
mpi/libmpi.la
mpi/mod-source-info.h
mpi/mpi-asm-defs.h
mpi/mpih-add1-asm.S
mpi/mpih-lshift-asm.S
mpi/mpih-mul1-asm.S
mpi/mpih-mul2-asm.S
mpi/mpih-mul3-asm.S
mpi/mpih-rshift-asm.S
mpi/mpih-sub1-asm.S
mpi/sysdep.h
random/Makefile
random/librandom.la
src/Makefile
src/dumpsexp
src/gcrypt.h
src/hmac256
src/libgcrypt-config
src/libgcrypt.la
src/libgcrypt.pc
src/mpicalc
src/versioninfo.rc
src/*.exe
tests/Makefile
tests/ac
tests/ac-data
tests/ac-schemes
tests/aeswrap
tests/basic
tests/basic-disable-all-hwf
tests/bench-slope
tests/benchmark
tests/curves
tests/dsa-rfc6979
tests/fips186-dsa
tests/fipsdrv
tests/gchash
tests/genhashdata
tests/hashtest
tests/hashtest-256g
tests/hmac
tests/keygen
tests/keygrip
tests/mpitests
tests/pkcs1v2
tests/prime
tests/pubkey
tests/random
tests/register
tests/rsacvt
tests/t-convert
tests/t-cv25519
tests/t-ed25519
tests/t-kdf
tests/t-lock
tests/t-mpi-bit
tests/t-mpi-point
tests/t-sexp
tests/t-secmem
tests/t-x448
tests/tsexp
tests/version
tests/*.exe
